<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>友盟-专业的移动开发者服务平台 | 移动应用统计 | Android统计 | iPhone统计 | WindowsPhone统计</title>
<link rel="shortcut icon" href="/images/favicon.ico" />
<%= stylesheet_link_tag 'default' %>
<% if "production" == Rails.env && request.host.include?("umeng.com") %>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-17469061-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
<% end %>
<%= yield(:head) %>
<%= csrf_meta_tag %>
<%= display_meta_tags :site => 'Umeng.com' %>
<!--[if IE 6]>
<%= stylesheet_link_tag 'css4ie' %>
<![endif]-->
</head>
<body id="<%= $bodyId %>">
<div class="header">
	<%= render :partial => 'layouts/nav' %>
	<%= yield(:placeholder) %>
	<%= yield(:banner) %>
</div>
	<%= yield %>
<%= render :partial => 'layouts/bottom' %>
</body>
</html>
<%= javascript_include_tag 'jquery.min', 'ui', :cache=>'cached_lay_home' %>
<%=yield(:bottom_js)%>
