<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'base', 'pagination', 'dateinput', 'myproduct_layout','jquery.tzSelect','style', :cache => 'cached_lay_ios_chan' %>
    <%= yield(:head) %>
    <%= display_meta_tags :site => 'Umeng.com' %>
    <% @layout_name = 'ios_channels'  %>
  </head>
  <body>
  <%= yield%>
  </body>
</html>

