<div class="nav">
	<div class="logo"><a href="<%= index_path %>" title="友盟umeng"></a></div>
	<div class="main">
		<div class="extra">
			<% if user_signed_in? && !demo_user_signed_in? %>
			<a href="<%= apps_path%>"><%= t("我的产品") %></a> |
			<%= link_to "账户设置",edit_user_info_users_path ,:target=>"_blank" %> |
			<a href="http://dev.umeng.com" target="_blank">帮助</a> |
			<%= link_to "退出",destroy_user_session_path %>
			<% else %>
			<a href="/users/sign_in">登录</a>|<a href="/users/sign_up">注册</a>
			<!-- <%# link_to('登录', new_session_path(:user),:class => 'login') %> | <%# link_to('注册', new_user_registration_path,:class => 'register') %> -->
			<% end %>
			
		</div>
		<div class="major" id="nav">
			<ul>
				<li class="analytics"><a href="<%= analytics_overview_path %>">统计工具</a>
					<div class="sub">
						<dl>
							<dd><a href="<%= analytics_overview_path %>">概况</a></dd>
							<dd><a href="<%= analytics_channel_path %>">渠道</a></dd>
							<dd><a href="<%= analytics_customevents_path %>">自定义事件</a></dd>
							<dd><a href="<%= analytics_funnel_path %>">漏斗</a></dd>
							<dd><a href="<%= analytics_tools_path %>">开发工具</a></dd>
						</dl>
					</div>
				</li>
				<li class="component"><a href="<%= component_sns_path %>">组件</a>
					<div class="sub">
						<dl>
							<dd><a href="<%= component_sns_path %>">SNS分享</a></dd>
							<dd><a href="<%= component_feedback_path %>">用户反馈</a></dd>
							<dd><a href="<%= component_update_path %>">自动更新</a></dd>
						</dl>
					</div>
				</li>
				<li class="appunion"><a href="<%= appunion_adsmanage_path %>">应用联盟</a>
					<div class="sub">
						<dl>
							<dd><a href="<%= appunion_adsmanage_path %>">广告管理</a></dd>
							<dd><a href="<%= appunion_exchange_path %>">交换网络</a></dd>
						</dl>
					</div>
				</li>
				<li class="umengdata"><a href="<%= umengdata_reports_path %>">友盟数据</a>
				</li>
				<li class="developcenter"><a href="http://dev.umeng.com" target="_blank">开发者中心</a>
					<div class="sub">
						<dl>
							<dd><a href="http://dev.umeng.com/getstart/getstart_ios.html" target="_blank">快速入门</a></dd>
							<dd><a href="http://dev.umeng.com/faq/faq_com.html" target="_blank">FAQ</a></dd>
							<dd><a href="http://dev.umeng.com/sdkdownload/sdkdownload_quickdownload.html" target="_blank">SDK下载</a></dd>
							<dd><a href="http://dev.umeng.com/doc/document_ana_android.html" target="_blank">文档中心</a></dd>
							<dd><a href="http://dev.umeng.com/salon/salon_index.html" target="_blank">开发者沙龙</a></dd>
							<dd><a href="/lab" target="_blank">友盟实验室</a></dd>
						</dl>
					</div>
				</li>
				<li class="aboutus"><a href="<%= aboutus_about_path %>">关于友盟</a>
					<div class="sub">
						<dl>
							<dd><a href="http://blog.umeng.com" target="_blank">Blog</a></dd>
							<dd><a href="<%= aboutus_about_path %>">关于我们</a></dd>
							<dd><a href="<%= aboutus_contact_path %>">联系我们</a></dd>
							<dd><a href="<%= aboutus_news_path %>">友盟新闻</a></dd>
							<dd><a href="<%= aboutus_partner_path %>">合作伙伴</a></dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
