<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <%= stylesheet_link_tag 'myproduct_layout', "application", :cache => 'cached_lay_app'%>
    <%= yield(:head) %>
    <%= csrf_meta_tag %>
    <%= display_meta_tags :site => 'Umeng.com' %>
  </head>

  <body class="product_home">
    <div id="b_wrap" class="container">
      <div class="app_top"><%= render "shared/back/top" %></div>
      <%= yield %>
    </div>
    <%= render "shared/back/bottom" %>
    <%= javascript_include_tag 'jquery.min', 'jquery.tools.min', 'highcharts', 'jquery.blockUI', 'rails', 'common', :cache=>'cached_lay_app'%>
    <%= yield(:bottom_js) %>
  </body>
</html>
