<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'base', 'jquery-ui', 'myproduct_layout','promotion_new' ,'dateinput','jquery.tzSelect' ,'style', :cache => 'cached_lay_promotion'%>
    <%= yield(:head) %>
    <%= display_meta_tags :site => 'Umeng.com' %>
  </head>
  <body>
    <%
    has_left_menu = ['policy','accounts','promotion','promotion_housead', 'index', 'promotion_ads'].include?(action_name)
  %>
    <div id="b_wrap" class="web_width">
      <%= render "shared/back/top" %>
      <div id="b_center">
        <div class="fl b_leftmenu">
          <div class="b_product_sel">
            <select class="ltselect" onchange="showSelect(this.value)" style="display:none">
              <option selected='selected' value="<%= @app.to_param %>">
                <%= @app.name %>
              </option>
              <% @apps.try(:reject){|a| a.id == @app.id }.each do |app| %>
                <option value="<%= app.to_param %>">
                  <%= app.name %>
                </option>
              <% end %>
            </select>

            <div class="b_backtoapp"><a href="<%= umeng_url(apps_path) %>"><span class="fl"><pre>«</pre></span> 返回我的产品首页</a>

              <div class="clear"></div>
            </div>
          </div>
          <% if has_left_menu%>
            <div class="has_son_menu">
              <div class="accordion">
                <% if current_user.has_permission_to_group?([{:report=>:promotion}, {:report=>:promotion_housead}]) %>
                  <h2 class="l_m_controls_promotion">
                    <a href="#">推广统计报表</a>
                  </h2>
                  <div class="pane_con pane_con_promotion" style="display:block;">
                    <ul>
                      <li><%= link_to_class_if('交换网络报表', promotion_app_reports_path(@app), 'reports', 'promotion') if current_user.has_permission_to?(:report, :promotion)%></li>
                      <li><%= link_to_class_if('广告管理报表', promotion_housead_app_reports_path(@app), 'reports', 'promotion_housead') if current_user.has_permission_to?(:report, :promotion_housead)%></li>
                      <% if revenue_report_user? %>
                        <li><%= link_to_class_if("付费推广报表<img src='/images/new2.png'>".html_safe, promotion_ads_app_reports_path(@app), 'reports', 'promotion_ads') %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>


                <h2 class="l_m_controls_promotion_set">
                  <%#= link_to_class_if('广告账户管理', accounts_app_promotions_path(@app), 'promotions', 'accounts') if current_user.has_permission_to?(:promotion, :accounts)%>
                </h2>


                <h2 class="l_m_controls_promotion_set">
                  <%#= link_to_class_if('推广策略管理', policy_app_promotions_path(@app), 'promotions', 'policy') if current_user.has_permission_to?(:promotion, :policy)%>
                </h2>
              </div>
            </div>

            <div class="kong35"></div>
            <%= render "shared/b_sdk_down" %>
            <%# render "shared/disanfang_share" %>
          <% end %>
        </div>
        <div class="fr b_rightconten">
          <% @promotion_layout=true %>
          <%= render "shared/report_right_menu" %>
          <div class="clear"></div>

          <%= yield if has_left_menu%>
        </div>
        <div class="clear"></div>
        <% if !has_left_menu%>
          <div class="new_promotion_layout"><%= yield %></div>
        <%end%>
      </div>


      <div id="promotion_down_wrap" style="display:none;">
        <table>
          <tr>
            <td height="20" colspan="3"></td>
          </tr>
          <tr>
            <td height="20" colspan="3" align="right">
              <span class="tg_rss"><img alt="" src="/images/new_ui/report/report_subscribe_close_normal.png" /></span>
            </td>
          </tr>
          <tr>
            <td width="10"></td>
            <td width="20" valign="middle" align="right"></td>
            <td width="400" align="left">
              <p/><p/><p/>

              <p>请联系ex-admin@umeng.com索要SDK和开发文档。
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <%= render "shared/back/bottom" %>
    <%= javascript_include_tag "jquery-1.6.min","jquery.tmpl.min",'rails', 'jquery.blockUI', "jquery.nyroModal",'common', 'tzSelect/jquery.tzSelect', 'table', :cache => 'cached_promotion.components' %>
    <% if params[:controller] == "reports" %>
      <%= javascript_include_tag "jquery.tools.min", 'date' %>
    <% end %>

    <% if %w[promotions house_ads].include? params[:controller] %>
      <%= javascript_include_tag 'jquery-ui.min', "jquery.iframe-transport.js", "jquery.fileupload.js" %>
    <% end %>

    <script type="text/javascript">
   
      // if the config_tab should be displayed by init
      if (!(/.*\/reports.*/.test(window.location.href) || /.*\/events\/.*/.test(window.location.href)) || (/.*\/feedbacks.*/.test(window.location.href))) {
        $('.lttab a#config_tab').hover();
      }

      $(function() {

        $("h2.l_m_controls_promotion").click(function() {
          $(this).siblings(".pane_con_promotion").slideDown("slow");
        });
        $("h2.l_m_controls_promotion_set").click(function() {
          $(this).siblings(".pane_con_promotion_set").slideDown("slow");
        });
        if ( $(".pane_con_promotion li a").hasClass("current") ){
          $(".l_m_controls_promotion a").addClass("current")
        }
        if ( $(".pane_con_promotion_set li a").hasClass("current") ){
          $(".l_m_controls_promotion_set a").addClass("current")
        }

        //给tr 的 hover 添加背景颜色
        $(".b_rightconten table thead tr").mouseover(function() {
          $(this).children().addClass("tr_hover");
        });
        $(".b_rightconten table thead tr").mouseout(function() {
          $(this).children().removeClass("tr_hover");
        });

        //点击显示接口实例
        $("table.b_user_event_table thead span.interface").click(function() {
          var thead_class = $(this).parent().parent().parent()[0].className;
          if ($(this).hasClass("on")) {
            $(this).removeClass("on");
            $("." + thead_class + "_con").hide();
          } else {
            $(this).addClass("on");
            $("." + thead_class + "_con").show();
          }
        });

        //根据当前导航菜单，取得当前连接的外围，将其显示
        var a_c = $(".b_leftmenu .accordion").find("a.current");
        $(a_c).parent().parent().parent().show();


        $($('select.ltselect')[0]).hide();
      });

    </script>

    <script type="text/javascript">
      function adjust() {
        var h = $(".conleft")[0].offsetHeight;
        var main = document.getElementById("main");
        main.style.minHeight = (h - 5) + "px";
      }
<% if user_signed_in? && controller_name == 'reports' && action_name == 'index' %>
    $(function() {
      var feedback_link = $('#feedback_link');
      p = feedback_link.position();
      var feedback_link_width = feedback_link.width();
      var feedback_link_height = feedback_link.outerHeight();
      var minder = $('#remin_user1');
      var minder_width = minder.width();
      minder.css({left:p.left - minder_width / 2 + feedback_link_width / 2,top:p.top + feedback_link_height + 4});
      minder.show();
    });

    $(window).resize(function() {
      var feedback_link = $('#feedback_link');
      p = feedback_link.position();
      var feedback_link_width = feedback_link.width();
      var feedback_link_height = feedback_link.outerHeight();
      var minder = $('#remin_user1');
      var minder_width = minder.width();
      minder.css({left:p.left - minder_width / 2 + feedback_link_width / 2,top:p.top + feedback_link_height + 4});
    });

    function close_remind() {
      $("#remin_user1").css({display:'none'});
    }

<% end %>
    </script>
    <%= yield(:bottom_js) %>
  </body>
</html>



