<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= h(yield(:title) || "友盟") %></title>
<link rel="shortcut icon" href="/images/favicon.ico" />
<%= stylesheet_link_tag 'base', 'dateinput','remind','channel', :cache => 'cached_lay_third_channel'%>
<%= display_meta_tags :site => 'Umeng.com' %>
</head>
<body>

<div id="channel_top">
</div>
<div id="channel_content_wrap">
	
	<%= render "shared/third_party_channel_top" %>
	
	<div class="channel_content">
		
		<%= yield %>
		
		
	</div>
</div>

<div id="b_bottom">
    <div class="copyright"> <a href="/about">关于我们</a> | <a href="http://t.sina.com.cn/umengcom"> 微博</a> | <a href="/blog"> Blog </a> | <a href="/termsofservice"> 服务条款 </a> | <a href="/privacypolicy"> 隐私政策 </a>
    <p>&copy; 2010－2011 Umeng.com, All Rights Reserved. </p>
  </div>
</div>
</body>
</html>
<%= javascript_include_tag "jquery.min",'jquery.tools.min', 'jquery.blockUI', 'common', :cache=>'cached_lay_third_channel'%>
<script type="text/javascript">
	$(function(){
		 //新select样式 --begin
        $('body').delegate('.select_arrow,.selected_value','click',function(e){
        	e.stopPropagation();
          $(this).nextAll('.select_list_body').slideToggle(200);
        });
  //      $('body').delegate('.select_list_body  li:not(.noClick)','click',function(e){
  //         e.stopPropagation();
  //         $(this).closest('.select_option').find('.selected_value').text($(this).find('a').text());
  //         $(this).closest('.select_list_body').slideToggle(200);
  //      });
        $(document).click(function(e){
        	e.stopPropagation();
        	 if($(e.target).closest('.compared_date_select').length>0||$(e.target).closest('.select_option').length>0||$(e.target).closest('#calroot').length>0){//calroot
        	 	return false;
        	 }
        	$('.select_list_body').slideUp(200);
        });
        $('body').delegate('.select_list_body ul li.date_picker','click',function(e){
        	e.stopPropagation();
        	$(this).next('li').slideToggle(200);
        	
        });
	});
</script>
<%= yield(:bottom_js) %>
